customers_backend/HELP.md
customers_backend/.gradle
customers_backend/build/
customers_backend/!gradle/wrapper/gradle-wrapper.jar
customers_backend/!**/src/main/**/build/
customers_backend/!**/src/test/**/build/

### STS ###
#customers_backend/.apt_generated
#customers_backend/.classpath
#customers_backend/.factorypath
#customers_backend/.project
#customers_backend/.settings
#customers_backend/.springBeans
#customers_backend/.sts4-cache
#customers_backend/bin/
#customers_backend/!**/src/main/**/bin/
#customers_backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
#customers_backend/.idea
#customers_backend/*.iws
#customers_backend/*.iml
#customers_backend/*.ipr
#customers_backend/out/
#customers_backend/!**/src/main/**/out/
#customers_backend/!**/src/test/**/out/

### NetBeans ###
customers_backend/nbproject/private/
customers_backend/nbbuild/
customers_backend/dist/
customers_backend/nbdist/
customers_backend/.nb-gradle/

### VS Code ###
customers_frontend/.vscode/
# Logs
customers_frontend/logs
customers_frontend/*.log
customers_frontend/npm-debug.log*
customers_frontend/yarn-debug.log*
customers_frontend/yarn-error.log*
customers_frontend/pnpm-debug.log*
customers_frontend/lerna-debug.log*

customers_frontend/node_modules
customers_frontend/.DS_Store
customers_frontend/dist
customers_frontend/dist-ssr
customers_frontend/coverage
customers_frontend/*.local

customers_frontend/cypress/videos/
customers_frontend/cypress/screenshots/

# Editor directories and files
#customers_frontend/.vscode/*
#customers_frontend/!.vscode/extensions.json
#customers_frontend/.idea
#customers_frontend/*.suo
#customers_frontend/*.ntvs*
#customers_frontend/*.njsproj
#customers_frontend/*.sln
#customers_frontend/*.sw?
#
#customers_frontend/*.tsbuildinfo


